{% extends "wei/base.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block profile_content %}
    <div class="card">
        <div class="card-header text-center">
            <h3>{% trans "Attribute first year members into buses" %}</h3>
        </div>

        <div class="card-body">
            {% render_table bus_repartition_table %}
            <hr>
            <a href="#" class="btn btn-block btn-success">{% trans "Start attribution!" %}</a>
            <hr>
            {% render_table table %}
        </div>
    </div>
{% endblock %}
