{% extends "wei/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block profile_info %}
{% include "wei/weiclub_info.html" %}
{% endblock %}

{% block profile_content %}
    <div class="card">
        <div class="card-header text-center">
            <h4>{% trans "Survey WEI" %}</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-xl-6">{% trans 'user'|capfirst %}</dt>
                <dd class="col-xl-6">{{ object.user }}</dd>
            </dl>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="card-footer text-center">
                    <input class="btn btn-success" type="submit" value="{% trans "Next" %}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
