{% extends "member/noteowner_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block profile_info %}
{% include "wei/weiclub_info.html" %}
{% endblock %}

{% block profile_content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {{ membership_form|crispy }}
        <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
    </form>
{% endblock %}

{% block extrajavascript %}
    {% if not object.membership %}
        <script>
        $(document).ready(function() {
            function refreshTeams() {
                let buses = [];
                $("input[name='bus']:checked").each(function(ignored) {
                    buses.push($(this).parent().text().trim());
                });
                console.log(buses);
                $("input[name='team']").each(function() {
                    let label = $(this).parent();
                    $(this).parent().addClass('d-none');
                    buses.forEach(function(bus) {
                        if (label.text().includes(bus))
                            label.removeClass('d-none');
                    });
                });
            }

            $("input[name='bus']").change(refreshTeams);

            refreshTeams();
        });
        </script>
    {% endif %}
{% endblock %}
