{% extends "wei/base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block profile_content %}
<div class="card bg-light mb-3">
    <h3 class="card-header text-center">
        {{ title }}
    </h3>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            {{ membership_form|crispy }}
            <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extrajavascript %}
{% if not object.membership %}
<script>
    $(document).ready(function () {
        function refreshTeams() {
            let buses = [];
            $("input[name='bus']:checked").each(function (ignored) {
                buses.push($(this).parent().text().trim());
            });
            console.log(buses);
            $("input[name='team']").each(function () {
                let label = $(this).parent();
                $(this).parent().addClass('d-none');
                buses.forEach(function (bus) {
                    if (label.text().includes(bus))
                        label.removeClass('d-none');
                });
            });
        }

        $("input[name='bus']").change(refreshTeams);

        refreshTeams();
    });
</script>
{% endif %}
{% endblock %}