{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<form method="post" action="">
    {% csrf_token %}
    {% crispy formset helper %}
    <div class="form-actions">
        <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
    </div>
</form>

<!-- Include formset plugin - including jQuery dependency -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/dynamic-formset.js' %}"></script>
<script>
    $('.formset-row').formset({
        addText: 'add link',
        deleteText: 'remove'
    });
</script>
{% endblock %}
