{% load i18n static pretty_money perms %}
<div class="card bg-light shadow">
    <div class="card-header text-center">
        <h4> Club {{ club.name }} </h4>
    </div>
    <div class="card-top text-center">
        <a  href="{% url 'member:club_update_pic' club.pk  %}">
            <img src="{{ club.note.display_image.url }}" class="img-thumbnail mt-2" >
        </a>
    </div>
    <div class="card-body" id="profile_infos">
        <dl class="row">
            <dt class="col-xl-6">{% trans 'name'|capfirst %}</dt>
            <dd class="col-xl-6">{{ club.name}}</dd>

            {% if club.parent_club %}
                <dt class="col-xl-6"><a href="{% url 'member:club_detail' club.parent_club.pk %}">{% trans 'Club Parent'|capfirst %}</a></dt>
                <dd class="col-xl-6"> {{ club.parent_club.name }}</dd>
            {% endif %}

            {% if club.require_memberships %}
                {% if club.membership_start %}
                    <dt class="col-xl-6">{% trans 'membership start'|capfirst %}</dt>
                    <dd class="col-xl-6">{{ club.membership_start }}</dd>
                {% endif %}

                {% if club.membership_end %}
                    <dt class="col-xl-6">{% trans 'membership end'|capfirst %}</dt>
                    <dd class="col-xl-6">{{ club.membership_end }}</dd>
                {% endif %}

                {% if club.membership_duration %}
                    <dt class="col-xl-6">{% trans 'membership duration'|capfirst %}</dt>
                    <dd class="col-xl-6">{{ club.membership_duration }} {% trans "days" %}</dd>
                {% endif %}

                {% if club.membership_fee_paid == club.membership_fee_unpaid %}
                    <dt class="col-xl-6">{% trans 'membership fee'|capfirst %}</dt>
                    <dd class="col-xl-6">{{ club.membership_fee_paid|pretty_money }}</dd>
                {% else %}
                    <dt class="col-xl-6">{% trans 'membership fee (paid students)'|capfirst %}</dt>
                    <dd class="col-xl-6">{{ club.membership_fee_paid|pretty_money }}</dd>

                    <dt class="col-xl-6">{% trans 'membership fee (unpaid students)'|capfirst %}</dt>
                    <dd class="col-xl-6">{{ club.membership_fee_unpaid|pretty_money }}</dd>
                {% endif %}
            {% endif %}

            {% if "note.view_note"|has_perm:club.note %}
                <dt class="col-xl-6">{% trans 'balance'|capfirst %}</dt>
                <dd class="col-xl-6">{{ club.note.balance | pretty_money }}</dd>
            {% endif %}
            
            <dt class="col-xl-6"><a href="{% url 'member:club_alias' club.pk %}">{% trans 'aliases'|capfirst %}</a></dt>
            <dd class="col-xl-6 text-truncate">{{ club.note.alias_set.all|join:", " }}</dd>

            <dt class="col-xl-4">{% trans 'email'|capfirst %}</dt>
            <dd class="col-xl-8"><a href="mailto:{{ club.email }}">{{ club.email }}</a></dd>
        </dl>
    </div>
    {% if not club.weiclub %}
        <div class="card-footer text-center">
            {% if can_add_members %}
                <a class="btn btn-primary btn-sm my-1" href="{% url 'member:club_add_member' club_pk=club.pk %}"> {% trans "Add member" %}</a>
            {% endif %}
            {% if ".change_"|has_perm:club %}
                <a class="btn btn-primary btn-sm my-1" href="{% url 'member:club_update' pk=club.pk %}"> {% trans "Edit" %}</a>
            {% endif %}
            {% url 'member:club_detail' club.pk as club_detail_url %}
            {%if request.path_info != club_detail_url %}
                <a class="btn btn-primary btn-sm my-1" href="{{ club_detail_url }}">{% trans 'View Profile' %}</a>
            {% endif %}
        </div>
    {% endif %}
</div>
