{% load i18n static pretty_money %}
<div class="card bg-light shadow">
    <div class="card-header text-center">
        <h4> Club {{ club.name }} </h4>
    </div>
    <div class="card-top text-center">
        <a  href="{% url 'member:club_update_pic' club.pk  %}">
            <img src="{{ club.note.display_image.url }}" class="img-thumbnail mt-2" >
        </a>
    </div>
    <div class="card-body" id="profile_infos">
        <dl class="row">
            <dt class="col-xl-6">{% trans 'name'|capfirst %}</dt>
            <dd class="col-xl-6">{{ club.name}}</dd>

            <dt class="col-xl-6">{% trans 'membership start'|capfirst %}</dt>
            <dd class="col-xl-6">{{ club.membership_start }}</dd>

            <dt class="col-xl-6">{% trans 'membership end'|capfirst %}</dt>
            <dd class="col-xl-6">{{ club.membership_end }}</dd>

            <dt class="col-xl-6">{% trans 'membership duration'|capfirst %}</dt>
            <dd class="col-xl-6">{{ club.membership_duration }}</dd>

            <dt class="col-xl-6">{% trans 'membership fee'|capfirst %}</dt>
            <dd class="col-xl-6">{{ club.membership_fee|pretty_money }}</dd>
            
            <dt class="col-xl-6"><a href="{% url 'member:user_alias' club.pk %}">{% trans 'aliases'|capfirst %}</a></dt>
            <dd class="col-xl-6 text-truncate">{{ object.note.alias_set.all|join:", " }}</dd>

            <dt class="col-xl-3">{% trans 'email'|capfirst %}</dt>
            <dd class="col-xl-9"><a href="mailto:{{ club.email }}">{{ club.email}}</a></dd>
        </dl>
    </div>
    <div class="card-footer text-center">
        <a class="btn btn-primary btn-sm my-1" href="{% url 'member:club_add_member' pk=club.pk %}"> {% trans "Add member" %}</a>
        <a class="btn btn-primary btn-sm my-1" href="{% url 'member:club_update' pk=club.pk %}"> {% trans "Edit" %}</a>
        <a class="btn btn-primary btn-sm my-1" href="{% url 'member:club_add_member' pk=club.pk %}"> {% trans "Add roles" %}</a>
        {% url 'member:club_detail' club.pk as club_detail_url %}
        {%if request.get_full_path != club_detail_url %}
        <a class="btn btn-primary btn-sm my-1" href="{{ user_profile_url }}">{% trans 'View Profile' %}</a>
        {% endif %}    </div>
</div>
