{% load render_table from django_tables2 %}
{% load i18n %}
{% load perms %}

{% if not object.profile.email_confirmed and "member.change_profile_email_confirmed"|has_perm:object.profile %}
    <div class="alert alert-warning">
        {% trans "This user doesn't have confirmed his/her e-mail address." %}
        <a href="{% url "registration:email_validation_resend" pk=object.pk %}">{% trans "Click here to resend a validation link." %}</a>
    </div>
{% endif %}

<div class="card">
    <div class="card-header position-relative" id="clubListHeading">
        <a class="font-weight-bold">
            <i class="fa fa-users"></i> {% trans "View my memberships" %}
        </a>
    </div>
    {% render_table club_list %}
</div>

<hr>

<div class="card">
    <div class="card-header position-relative" id="historyListHeading">
        <a class="collapsed font-weight-bold"
           data-toggle="collapse" data-target="#historyListCollapse"
           aria-expanded="true" aria-controls="historyListCollapse">
            <i class="fa fa-euro"></i> {% trans "Transaction history" %}
        </a>
    </div>
    <div id="history_list">
        {% render_table history_list %}
    </div>
</div>
