{% extends "base.html" %}
{% load i18n static pretty_money django_tables2 crispy_forms_tags %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-3 mb-4">
        <div class="card bg-light shadow">
            <img src="{{ object.note.display_image }}" class="card-img-top" alt="">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-xl-6">{% trans 'name'|capfirst %}, {% trans 'first name' %}</dt>
                    <dd class="col-xl-6">{{ object.last_name }} {{ object.first_name }}</dd>

                    <dt class="col-xl-6">{% trans 'username'|capfirst %}</dt>
                    <dd class="col-xl-6">{{ object.username }}</dd>

                    <dt class="col-xl-6">{% trans 'password'|capfirst %}</dt>
                    <dd class="col-xl-6">
                        <a class="small" href="{% url 'password_change' %}">
                            {% trans 'Change password' %}
                        </a>
                    </dd>

                    <dt class="col-xl-6">{% trans 'section'|capfirst %}</dt>
                    <dd class="col-xl-6">{{ object.profile.section }}</dd>

                    <dt class="col-xl-6">{% trans 'address'|capfirst %}</dt>
                    <dd class="col-xl-6">{{ object.profile.address }}</dd>

                    <dt class="col-xl-6">{% trans 'balance'|capfirst %}</dt>
                    <dd class="col-xl-6">{{ object.note.balance | pretty_money }}</dd>

                    <dt class="col-xl-6">{% trans 'aliases'|capfirst %}</dt>
                    <dd class="col-xl-6">{{ object.note.alias_set.all|join:", " }}</dd>
                </dl>

                {% if object.pk == user.pk %}
                    <a class="small" href="{% url 'member:auth_token' %}">{% trans 'Manage auth token' %}</a>
                {% endif %}
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-primary btn-sm" href="{% url 'member:user_update_profile' object.pk %}">{% trans 'Update Profile' %}</a>
                <a class="btn btn-primary btn-sm" href="{% url 'member:user_detail' object.pk %}">{% trans 'View Profile' %}</a>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="d-flex justify-content-center">
            <form action="" method="post">
                {% csrf_token %}
                {{ form |crispy }}
                <button class="btn btn-primary" type="submit">
                    {% trans "Add alias" %}
                </button>
            </form>
        </div>
        <div class="card bg-light shadow">
            <div class="card-body">
                {% render_table aliases %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
