[run]
source =
    app/activity
    app/member
    app/note
omit =
    app/activity/tests/*.py
    app/activity/migrations/*.py
    app/member/tests/*.py
    app/member/migrations/*.py
    app/note/tests/*.py
    app/note/migrations/*.py