[run]
source =
    activity
    member
    note
omit =
    activity/tests/*.py
    activity/migrations/*.py
    member/tests/*.py
    member/migrations/*.py
    note/tests/*.py
    note/migrations/*.py