# Server config files
nginx_note.conf

# Byte-compiled / optimized / DLL files
dist
build
__pycache__
*.py[cod]
*$py.class
*.swp
*.egg-info
_build
.tox
.coverage
coverage

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# PyCharm project settings
.idea

# VSCode project settings
.vscode

# Local data
secrets.py
.env
map.json
*.log
backups/
/static/
/media/

# Virtualenv
env/
venv/
db.sqlite3

# ansibles customs host
ansible/host_vars/*.yaml
!ansible/host_vars/bde*
ansible/hosts
