beautifulsoup4
Django
django-bootstrap-datepicker-plus
django-colorfield
django-crispy-forms
django-extensions
django-filter
django-mailer
django-oauth-toolkit
django-phonenumber-field
django-polymorphic
djangorestframework
django-rest-polymorphic
django-tables2
python-memcached
phonenumbers
Pillow
crispy_bootstrap4
