{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-2.0-or-later
{% endcomment %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Log in" %}{% endblock %}
{% block contenttitle %}<h1>{% trans "Log in" %}</h1>{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p class="errornote">
            {% blocktrans trimmed %}
                You are authenticated as {{ username }}, but are not authorized to
                access this page. Would you like to login to a different account?
            {% endblocktrans %}
        </p>
    {% endif %}

    <div class="alert alert-info">
        Vous pouvez aussi vous connecter via l'authentification centralisée <a href="{% url 'cas_login' %}">en suivant ce lien.</a>
    </div>

    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary">
        <a href="{% url 'password_reset' %}" class="badge badge-light">{% trans 'Forgotten your password or username?' %}</a>
    </form>
{% endblock %}
