<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
    <h2>{% trans "Sign up" %}</h2>

    <div class="alert alert-warning">
        {% blocktrans %}If you already signed up, your registration is taken into account. The BDE must validate your account before your can log in. You have to go to the Kfet and pay the registration fee. You must also validate your email address by following the link you received.{% endblocktrans %}
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {{ profile_form|crispy }}
        <button class="btn btn-success" type="submit">
            {% trans "Sign up" %}
        </button>
    </form>
{% endblock %}
