{% extends "member/base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load crispy_forms_tags i18n pretty_money %}

{% block profile_content %}
<div class="card bg-light">
    <h3 class="card-header text-center">
        {{ title }}
    </h3>
    <div class="card-body">
        {% if additional_fee_renewal %}
        <div class="alert alert-warning">
            {% if renewal %}
                {% blocktrans trimmed with clubs=clubs_renewal|join:", " pretty_fee=additional_fee_renewal|pretty_money %}
                    The user is not a member of the club·s {{ clubs }}. Please create the required memberships,
                    otherwise it will fail.
                {% endblocktrans %}
            {% else %}
                {% blocktrans trimmed with clubs=clubs_renewal|join:", " pretty_fee=additional_fee_renewal|pretty_money %}
                    This club has parents {{ clubs }}. Please make sure that the user is a member of this or these club·s,
                    otherwise the creation of this membership will fail.
                {% endblocktrans %}
            {% endif %}
        </div>
        {% endif %}

        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extrajavascript %}
<script>
    function autocompleted(user) {
        $("#id_last_name").val(user.last_name);
        $("#id_first_name").val(user.first_name);
        $.getJSON("/api/members/profile/" + user.id + "/", function (profile) {
            let fee = profile.paid ? "{{ club.membership_fee_paid }}" : "{{ club.membership_fee_unpaid }}";
            $("#id_credit_amount").val((Number(fee) / 100).toFixed(2));
        });
    }


    function fillFields() {
        let credit_type = $("#id_credit_type");
        credit_type.attr('disabled', true);
        credit_type.val(4);

        let credit_amount = $("#id_credit_amount");
        credit_amount.attr('disabled', true);
        credit_amount.val('{{ total_fee }}');
    }
</script>
{% endblock %}