{% extends "member/noteowner_detail.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load pretty_money %}

{% block profile_info %}
{% include "member/club_info.html" %}
{% endblock %}

{% block profile_content %}
    {% if additional_fee_renewal %}
        <div class="alert alert-warning">
            {% if renewal %}
                {% blocktrans trimmed with clubs=clubs_renewal|join:", " pretty_fee=additional_fee_renewal|pretty_money %}
                    The user is not a member of the club·s {{ clubs }}. An additional fee of {{ pretty_fee }}
                    will be charged to renew automatically the membership in this/these club·s.
                {% endblocktrans %}
            {% else %}
                {% blocktrans trimmed with clubs=clubs_renewal|join:", " pretty_fee=additional_fee_renewal|pretty_money %}
                    This club has parents {{ clubs }}. An additional fee of {{ pretty_fee }}
                    will be charged to adhere automatically to this/these club·s.
                {% endblocktrans %}
            {% endif %}
        </div>
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
    </form>
{% endblock %}

{% block extrajavascript %}
    <script>
        function autocompleted(user) {
            $("#id_last_name").val(user.last_name);
            $("#id_first_name").val(user.first_name);
            $.getJSON("/api/members/profile/" + user.id + "/", function(profile) {
                let fee = profile.paid ? {{ club.membership_fee_paid }} : {{ club.membership_fee_unpaid }};
                $("#id_credit_amount").val((fee / 100).toFixed(2));
            });
        }

        soge_field = $("#id_soge");

        function fillFields() {
            let checked = soge_field.is(':checked');
            if (!checked) {
                $("input").attr('disabled', false);
                $("#id_user").attr('disabled', true);
                $("select").attr('disabled', false);
                return;
            }

            let credit_type = $("#id_credit_type");
            credit_type.attr('disabled', true);
            credit_type.val(4);

            let credit_amount = $("#id_credit_amount");
            credit_amount.attr('disabled', true);
            credit_amount.val('{{ total_fee }}');

            let bank = $("#id_bank");
            bank.attr('disabled', true);
            bank.val('Société générale');
        }

        soge_field.change(fillFields);
    </script>
{% endblock %}
