{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% block contenttitle %}{% endblock %}

{# Use a fluid-width container #}
{% block containertype %}container-fluid{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-xl-4">
        {% block profile_info %}
            {% if user_object %}
                {% include "member/includes/profile_info.html"  %}
            {% elif club %}
                {% include "member/includes/club_info.html" %}
            {% elif note.club.weiclub %}
                {% with club=note.club.weiclub %}
                {% include "wei/weiclub_info.html" %}
                {% endwith %}
            {% elif note.club %}
                {% with club=note.club %}
                {% include "member/includes/club_info.html" %}
                {% endwith %}
            {% elif note.user %}
                {% with user_object=note.user %}
                {% include "member/includes/profile_info.html"  %}
                {% endwith %}
            {% endif %}
        {% endblock %}
    </div>
    <div class="col-xl-8">
        {% block profile_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block extrajavascript %}
{% if object %}
<script>
    function refreshHistory() {
        $("#history_list").load("{% url 'member:user_detail' pk=object.pk %} #history_list");
        $("#profile_infos").load("{% url 'member:user_detail' pk=object.pk %} #profile_infos");
    }
</script>
{% endif %}
{% endblock %}