{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}

{# Use a fluid-width container #}
{% block containertype %}container-fluid{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-xl-4">
        {% block profile_info %}
        {% include "member/profile_info.html" %}
        {% endblock %}
    </div>
    <div class="col-xl-8">
        {% block profile_content %}
        {% include "member/profile_tables.html" %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block extrajavascript %}
<script>
    {% if object %}
    function refreshHistory() {
        $("#history_list").load("{% url 'member:user_detail' pk=object.pk %} #history_list");
        $("#profile_infos").load("{% url 'member:user_detail' pk=object.pk %} #profile_infos");
    }
    {% endif %}
</script>
{% endblock %}