{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load i18n crispy_forms_tags %}
{% block contenttitle %}{% endblock %}

{% block content %}
<div class="card bg-light">
    <h3 class="card-header text-center">
        {{ title }}
    </h3>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extrajavascript %}
<script>
    require_memberships_obj = $("#id_require_memberships");

    if (!require_memberships_obj.is(":checked")) {
        $("#div_id_membership_fee_paid").toggle();
        $("#div_id_membership_fee_unpaid").toggle();
        $("#div_id_membership_duration").toggle();
        $("#div_id_membership_start").toggle();
        $("#div_id_membership_end").toggle();
    }

    require_memberships_obj.change(function () {
        $("#div_id_membership_fee_paid").toggle();
        $("#div_id_membership_fee_unpaid").toggle();
        $("#div_id_membership_duration").toggle();
        $("#div_id_membership_start").toggle();
        $("#div_id_membership_end").toggle();
    });
</script>
{% endblock %}