{% extends "member/base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load render_table from django_tables2 %}
{% load i18n perms %}

{% block profile_content %}
{% if not object.profile.email_confirmed and "member.change_profile_email_confirmed"|has_perm:user_object.profile %}
<div class="alert alert-warning">
    {% trans "This user doesn't have confirmed his/her e-mail address." %}
    <a href="{% url "registration:email_validation_resend" pk=user_object.pk %}">
        {% trans "Click here to resend a validation link." %}
    </a>
</div>
{% endif %}

<div class="card bg-light mb-3">
    <div class="card-header position-relative" id="clubListHeading">
        <a class="font-weight-bold">
            <i class="fa fa-users"></i> {% trans "View my memberships" %}
        </a>
    </div>
    {% render_table club_list %}
</div>

<div class="card bg-light">
    <div class="card-header position-relative" id="historyListHeading">
        <a class="stretched-link font-weight-bold text-decoration-none" {% if "note.view_note"|has_perm:user_object.note %}
            href="{% url 'note:transactions' pk=user_object.note.pk %}" {% endif %}>
            <i class="fa fa-euro"></i> {% trans "Transaction history" %}
        </a>
    </div>
    <div id="history_list">
        {% render_table history_list %}
    </div>
</div>
{% endblock %}

{% block extrajavascript %}
<script>
    function refreshHistory() {
        $("#history_list").load("{% url 'member:user_detail' pk=user_object.pk %} #history_list");
        $("#profile_infos").load("{% url 'member:user_detail' pk=user_object.pk %} #profile_infos");
    }
</script>
{% endblock %}