{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block contenttitle %}{% endblock %}

{% block content %}
{% if started_activities %}
<div class="card bg-info mb-3">
    <h3 class="card-header text-center">
        {% trans "Current activity" %}
    </h3>
    <div class="card-body">
        {% for activity in started_activities %}
        {% include "activity/includes/activity_info.html" %}
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="card bg-light mb-3">
    <h3 class="card-header text-center">
        {% trans "Upcoming activities" %}
    </h3>
    {% if upcoming.data %}
    {% render_table upcoming %}
    {% else %}
    <div class="card-body">
        <div class="alert alert-warning">
            {% trans "There is no planned activity." %}
        </div>
    </div>
    {% endif %}
    <div class="card-footer">
        <a class="btn btn-sm btn-success" href="{% url 'activity:activity_create' %}" data-turbolinks="false">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            {% trans 'New activity' %}
        </a>
    </div>
</div>

<div class="card bg-light mb-3">
    <h3 class="card-header text-center">
        {% trans "All activities" %}
    </h3>
    {% render_table table %}
</div>
{% endblock %}