.validate:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Opaque tooltip with white background */
.tooltip.show {
   opacity: 1;
}
.tooltip-inner {
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border: 1px solid rgba(0,0,0,.250);
    color: #000;
    margin: 0 .5rem .25rem .5rem;
    padding: 0;
}
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: rgba(0,0,0,.250);
}

/* Limit fluid container to a max size */
.container-fluid {
    max-width: 1600px;
}

/* Apply Bootstrap table-responsive to all Django tables */
.table-container {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Smaller language selector */
select.language {
    padding: 0;
    background: transparent;
    border: none;
    height: calc(1.5em + .5rem);
    color: #6c757d;
    -moz-appearance: none;
    width: auto;
    cursor: pointer;
}

/* Last BDE colors */
.bg-primary {
    background-color: rgb(0, 119, 139) !important;
}
html {
    scrollbar-color: rgba(121, 121, 123, 1) rgba(35, 35, 39, 1);
}
body {
    background-color: rgba(64, 64, 64, 1);
    background-image: url(../img/background-texture.png);
}
