.validate:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Opaque tooltip with white background */
.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border: 1px solid rgba(0, 0, 0, .250);
    color: #000;
    margin: 0 .5rem .25rem .5rem;
    padding: 0;
    width: 200px;
}

.bs-tooltip-bottom .arrow::before {
    border-bottom-color: rgba(0, 0, 0, .250);
}

/* Fixed width picture column */
.picture-col {
    max-width: 202px;
}

/* Limit fluid container to a max size */
.container-fluid {
    max-width: 1600px;
}

/* Apply Bootstrap table-responsive to all Django tables */
.table-container {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Smaller language selector */
select.language {
    padding: 0;
    background: transparent;
    border: none;
    height: calc(1.5em + .5rem);
    color: #6c757d;
    -moz-appearance: none;
    width: auto;
    cursor: pointer;
}

/* Remove horizontal padding on mark */
.mark,
mark {
    padding: .2em 0;
}

/* Make navbar more readable */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .75);
}

/* Last BDE colors */
.bg-primary {
    background-color: rgb(18, 67, 4) !important;
}

html {
    scrollbar-color: rgba(121, 121, 123, 1) rgba(35, 35, 39, 1);
}

body {
    background-color: rgba(64, 64, 64, 1);
    background-image: url(../img/background-texture.png);
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: rgb(18, 67, 46);
    border-color: rgb(18, 67, 46);
}

.btn-outline-primary {
    color: rgb(18, 67, 46);
    background-color: rgba(248, 249, 250, 0.9);
    border-color: rgb(18, 67, 46);
}

.turbolinks-progress-bar {
    background-color: #12432E;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: rgb(18, 67, 46);
    border-color: rgb(18, 67, 46);
}

.btn-primary {
    color: rgba(248, 249, 250, 0.9); 
    background-color: rgb(28, 114, 10);
    border-color: rgb(18, 67, 46);
}
