{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load static i18n crispy_forms_tags pretty_money %}

{% block content %}
<h1 class="text-white">{{ title }}</h1>
    <p>
        <a class="btn btn-default" href="{% url 'note:template_list' %}">{% trans "Buttons list" %}</a>
    </p>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
    </form>

    {% if price_history and price_history.1 %}
        <hr>

        <h4>{% trans "Price history" %}</h4>
        <ul>
        {% for price in price_history %}
            <li>{{ price.price|pretty_money }} {% if price.time %}({% trans "Obsolete since" %} {{ price.time }}){% else %}({% trans "Current price" %}){% endif %}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
