{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load i18n %}
{% block contenttitle %}{% endblock %}

{% block content %}
<div class="card text-white bg-secondary">
    <h3 class="card-header text-center">
        {% trans "Permission denied" %}
    </h3>
    <div class="card-body">
        <p>{% blocktrans %}You don't have the right to perform this request.{% endblocktrans %}</p>
        {% if exception %}
        <p>{% trans "Exception message:" %} {{ exception }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}