{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load i18n %}
{% block contenttitle %}{% endblock %}

{% block content %}
<div class="card text-white bg-secondary">
    <h3 class="card-header text-center">
        {% trans "Page not found" %}
    </h3>
    <div class="card-body">
        <p>
            {% blocktrans trimmed %}
            The requested path <code>{{ request_path }}</code> was not found on the server.
            {% endblocktrans %}
        </p>
        {% if exception != "Resolver404" %}
        <p>{% trans "Exception message:" %} {{ exception }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}