{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load i18n crispy_forms_tags%}
{% block content %}
    {% if started_activities %}
        <h2>{% trans "Current activity" %}</h2>
        {% for activity in started_activities %}
            {% include "activity/activity_info.html" %}
            <hr>
        {% endfor %}
    {% endif %}

    <h2>{% trans "Upcoming activities" %}</h2>
    {% if upcoming.data %}
        {% render_table upcoming %}
    {% else %}
        <div class="alert alert-warning">
            {% trans "There is no planned activity." %}
        </div>
    {% endif %}

    <a class="btn btn-primary" href="{% url 'activity:activity_create' %}" data-turbolinks="false">{% trans 'New activity' %}</a>

    <hr>

    <h2>{% trans "All activities" %}</h2>

    {% render_table table %}
{% endblock %}

{% block extrajavascript %}
<script type="text/javascript">

$(document).ready(function($) {
    $(".table-row").click(function() {
        window.document.location = $(this).data("href");
    });
});

</script>
{% endblock %}
