/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 *
 * Copyright © 2019  Alexandre Iooss
 *
 * This is the custom style for Django Contrib Admin
 */

/* Colors */
#header {
    background-color: #151515;
    border-bottom: solid 5px #d80029;
    padding: 10px 40px;
}

.module h2, .module caption, .inline-group h2 {
    background: #e6e0d8;
    color: #222;
}

a.section:link, a.section:visited {
    color: #222;
}

#user-tools a {
    border-bottom: none;
    font-weight: bold;
}

div.breadcrumbs {
    background: #3c3c3c;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #d8a456;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus,
input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #b98d4a;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #b98d4a;
}

.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #a7752b;
}

/* User tools top menu */
#user-tools .dropdown:hover > a, #user-tools .dropdown:focus > a {
    color: #79aec8;
}

#user-tools .dropdown {
    position: relative; /* needed to position the dropdown content */
    display: inline-block;
}

#user-tools .dropdown-content {
    display: block;
    position: absolute;
    background-color: #444444;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 2000;
    text-align: left;

    /* Hide menu by making it transparent */
    transition: opacity 100ms, visibility 100ms;
    opacity: 0;
    visibility: hidden;
}

#user-tools .dropdown-content a {
    color: #fff;
    padding: 7px 8px;
    text-decoration: none;
    display: block;
    line-height: 16px;
}

#user-tools .dropdown-content a:hover {
    background-color: #636363;
}

#user-tools .dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

/* Fix navigation hidden */
#header {
    overflow: visible;
}

.login #header {
    overflow: hidden;
}

/* Footer */
#footer {
    padding: 20px 40px;
    color: #999;
}

.login #footer {
    padding: 10px;
    font-size: 10pt;
}

#footer a {
    color: #777;
}

#footer select {
    height: 24px;
    padding: 0;
}

/* Pull footer to bottom */
#content {
    min-height: calc(100vh - 190px);
}

.login #content {
    min-height: 0;
}

/* Recenter login button */
.login .submit-row {
    padding: 1em 0 0 0 !important;
    text-align: center !important;
}

/* Background on login page */
body.login {
    background: #f8f8f8 url("../images/login_bg.svg") no-repeat center top !important;
}

/* Dashboard should take all page */
.dashboard #content {
    width: auto;
}
