{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block content %}

    <div class="row">
        <div class="col-xl-12">
            <div class="btn-group btn-group-toggle" style="width: 100%; padding: 0 0 2em 0" data-toggle="buttons">
                <a href="#" class="btn btn-sm btn-outline-primary active">
                    {% trans "Invoice" %}s
                </a>
                <a href="{% url "treasury:remittance_list" %}" class="btn btn-sm btn-outline-primary">
                    {% trans "Remittance" %}s
                </a>
                <a href="{% url "treasury:soge_credits" %}" class="btn btn-sm btn-outline-primary">
                    {% trans "Société générale credits" %}
                </a>
            </div>
        </div>
    </div>

{% render_table table %}

<a class="btn btn-primary" href="{% url 'treasury:invoice_create' %}">{% trans "New invoice" %}</a>

{% endblock %}
