{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="btn-group btn-group-toggle" style="width: 100%; padding: 0 0 2em 0" data-toggle="buttons">
            <a href="{% url "treasury:invoice_list" %}" class="btn btn-sm btn-outline-primary">
                {% trans "Invoice" %}s
            </a>
            <a href="#" class="btn btn-sm btn-outline-primary active">
                {% trans "Remittance" %}s
            </a>
            <a href="{% url "treasury:soge_credits" %}" class="btn btn-sm btn-outline-primary">
                {% trans "Société générale credits" %}
            </a>
        </div>
    </div>
</div>

<div class="card bg-white mb-3">
    <h3 class="card-header text-center">
        {% trans "Opened remittances" %}
    </h3>
    {% if opened_remittances.data %}
    {% render_table opened_remittances %}
    {% else %}
    <div class="card-body">
        <div class="alert alert-warning">
            {% trans "There is no opened remittance." %}
        </div>
    </div>
    {% endif %}
    <div class="card-footer">
        <a class="btn btn-sm btn-success" href="{% url 'treasury:remittance_create' %}">{% trans "New remittance" %}</a>
    </div>
</div>

<div class="card bg-white mb-3">
    <h3 class="card-header text-center">
        {% trans "Transfers without remittances" %}
    </h3>
    {% if special_transactions_no_remittance.data %}
    {% render_table special_transactions_no_remittance %}
    {% else %}
    <div class="card-body">
        <div class="alert alert-warning">
            {% trans "There is no transaction without any linked remittance." %}
        </div>
    </div>
    {% endif %}
</div>

<div class="card bg-white mb-3">
    <h3 class="card-header text-center">
        {% trans "Transfers with opened remittances" %}
    </h3>
    {% if special_transactions_with_remittance.data %}
    {% render_table special_transactions_with_remittance %}
    {% else %}
    <div class="card-body">
        <div class="alert alert-warning">
            {% trans "There is no transaction with an opened linked remittance." %}
        </div>
    </div>
    {% endif %}
</div>

<div class="card bg-white mb-3">
    <h3 class="card-header text-center">
        {% trans "Closed remittances" %}
    </h3>
    {% if closed_remittances.data %}
    {% render_table closed_remittances %}
    {% else %}
    <div class="card-body">
        <div class="alert alert-warning">
            {% trans "There is no closed remittance yet." %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}