{% extends "member/noteowner_detail.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}
{% load pretty_money %}

{% block profile_info %}
{% include "member/club_info.html" %}
{% endblock %}

{% block profile_content %}
    <div id="activity_info" class="card bg-light shadow">
        <div class="card-header text-center">
            <h4>{% trans "Linked note:" %} {{ note.note_name }}</h4>
        </div>
        <div class="card-body" id="profile_infos">
            <dl class="row">
                <dt class="col-xl-6">{% trans 'attached club'|capfirst %}</dt>
                <dd class="col-xl-6"><a href="{% url 'member:club_detail' pk=club.pk %}">{{ club }}</a></dd>

                <dt class="col-xl-6">{% trans 'controller'|capfirst %}</dt>
                <dd class="col-xl-6"><a href="{% url 'member:user_detail' pk=note.controller.pk %}">{{ note.controller }}</a></dd>

                <dt class="col-xl-6">{% trans 'balance'|capfirst %}</dt>
                <dd class="col-xl-6">{{ note.balance|pretty_money }}</dd>
            </dl>

            <div class="card-footer text-center">
                <a class="btn btn-primary btn-sm my-1" href="{% url 'member:club_linked_note_update' club_pk=club.pk pk=note.pk %}"> {% trans "Edit" %}</a>
            </div>
        </div>


        <div class="card">
            <div class="card-header position-relative" id="historyListHeading">
                <a class="btn btn-link stretched-link collapsed font-weight-bold"
                   data-toggle="collapse" data-target="#historyListCollapse"
                   aria-expanded="false" aria-controls="historyListCollapse">
                    <i class="fa fa-euro"></i> {% trans "Transaction history" %}
                </a>
            </div>
            <div id="historyListCollapse" aria-labelledby="historyListHeading" data-parent="#accordionProfile">
                <div id="history_list">
                    {% render_table history_list %}
                </div>
            </div>
        </div>
{% endblock %}

{% block extrajavascript %}
    <script>
    function refreshHistory() {
        $("#history_list").load("{% url 'member:club_linked_note_detail' club_pk=club.pk pk=note.pk %} #history_list");
        $("#profile_infos").load("{% url 'member:club_detail' pk=club.pk%} #profile_infos");
    }
    </script>
{% endblock %}
