{% extends "base.html" %}
{% load pretty_money %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="row justify-content-center mb-4">
    <div class="col-md-10 text-center">
        <h4>
            {% trans "search button" %}
        </h4>
        <form action="" method="GET">
            {% csrf_token %}
            <input class="form-control mx-auto w-25" type="text" id="name" name="name"  value='{{ request.GET.name }}'/>
        </form>
        <ul class="list-group list-group-flush" id="alias_matched">
        </ul>
        <hr>
        <a class="btn btn-primary text-center my-4" href="{% url 'note:template_create' %}">Créer un bouton</a>
    </div>
</div>
<div class="row justify-content-center">   
<div class="col-md-10">
    {% render_table table %}
</div>
</div>
{% endblock %}
