{% extends "base.html" %}
{% load pretty_money %}
{% block content %}

<table class="table">
<tr>
<td>ID</td><td>Nom</td>
    <td>Destinataire</td>
    <td>Montant</td>
    <td>Catégorie</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{ object.name }}</a></td>
    <td>{{ object.destination }}</td>
    <td>{{ object.amount | pretty_money }}</td>
    <td>{{ object.category }}</td>
</tr>
{% endfor %}
</table>
<a class="btn btn-primary" href="{% url 'note:template_create' %}">Créer un bouton</a>
{% endblock %}
