{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-2.0-or-later
{% endcomment %}

{% load i18n static django_tables2 perms %}

{% block content %}

    <div class="row">
        <div class="col-xl-12">
            <div class="btn-group btn-group-toggle" style="width: 100%; padding: 0 0 2em 0" data-toggle="buttons">
                <label for="type_transfer" class="btn btn-sm btn-outline-primary active">
                    <input type="radio" name="transaction_type" id="type_transfer">
                    {% trans "Transfer" %}
                </label>
                {% if "note.notespecial"|not_empty_model_list %}
                    <label for="type_credit" class="btn btn-sm btn-outline-primary">
                        <input type="radio" name="transaction_type" id="type_credit">
                        {% trans "Credit" %}
                    </label>
                    <label type="type_debit" class="btn btn-sm btn-outline-primary">
                        <input type="radio" name="transaction_type" id="type_debit">
                        {% trans "Debit" %}
                    </label>
                {% endif %}
                {% for activity in activities_open %}
                    <a href="{% url "activity:activity_entry" pk=activity.pk %}" class="btn btn-sm btn-outline-primary">
                        {% trans "Entries" %} {{ activity.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" id="note_infos_div">
            <div class="card border-success shadow mb-4">
                <img src="/media/pic/default.png"
                    id="profile_pic" alt="" class="img-fluid rounded mx-auto d-block">
                <div class="card-body text-center">
                    <span id="user_note"></span>
                </div>
            </div>
        </div>

        <div class="col-md-3" id="emitters_div">
            <div class="card border-success shadow mb-4">
                <div class="card-header">
                    <p class="card-text font-weight-bold">
                        {% trans "Select emitters" %}
                    </p>
                </div>
                <ul class="list-group list-group-flush" id="source_note_list">
                </ul>
                <div class="card-body">
                    <input class="form-control mx-auto d-block" type="text" id="source_note" placeholder="{% trans "Name or alias..." %}" />
                    <hr>
                    <span class="form-control mx-auto d-block btn btn-secondary" id="source_me">
                        {% trans "I am the emitter" %}
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-3" id="dests_div">
            <div class="card border-info shadow mb-4">
                <div class="card-header">
                    <p class="card-text font-weight-bold" id="dest_title">
                        {% trans "Select receivers" %}
                    </p>
                </div>
                <ul class="list-group list-group-flush" id="dest_note_list">
                </ul>
                <div class="card-body">
                    <input class="form-control mx-auto d-block" type="text" id="dest_note" placeholder="{% trans "Name or alias..." %}" />
                    <ul class="list-group list-group-flush" id="dest_alias_matched">
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3" id="external_div">
            <div class="card border-warning shadow mb-4">
                <div class="card-header">
                    <p class="card-text font-weight-bold">
                        {% trans "Action" %}
                    </p>
                </div>
                <ul class="list-group list-group-flush" id="source_note_list">
                </ul>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="amount">{% trans "Amount" %} :</label>
                            {% include "note/amount_input.html" with widget=amount_widget %}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="reason">{% trans "Reason" %} :</label>
                            <input class="form-control mx-auto d-block" type="text" id="reason" />
                            <p id="reason-required" class="invalid-feedback"></p>
                        </div>
                    </div>

                    <div class="d-none" id="special_transaction_div">
                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="credit_type">{% trans "Transfer type" %} :</label>
                                <select id="credit_type" class="custom-select">
                                    {% for special_type in special_types %}
                                        <option value="{{ special_type.id }}">{{ special_type.special_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="last_name">{% trans "Name" %} :</label>
                                <input type="text" id="last_name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="first_name">{% trans "First name" %} :</label>
                                <input type="text" id="first_name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="bank">{% trans "Bank" %} :</label>
                                <input type="text" id="bank" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col-md-12">
                            <button id="btn_transfer" class="form-control btn btn-primary">{% trans 'Transfer' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4" id="history">
        <div class="card-header">
            <p class="card-text font-weight-bold">
                {% trans "Recent transactions history" %}
            </p>
        </div>
        {% render_table table %}
    </div>
{% endblock %}

{% block extrajavascript %}
    <script>
        TRANSFER_POLYMORPHIC_CTYPE = {{ polymorphic_ctype }};
        SPECIAL_TRANSFER_POLYMORPHIC_CTYPE = {{ special_polymorphic_ctype }};
        user_id = {{ user.note.pk }};
        username = "{{ user.username|escapejs }}";
    </script>
    <script src="/static/js/transfer.js"></script>
{% endblock %}
