{% extends "admin/base_site.html" %}
{% comment %}
SPDX-License-Identifier: GPL-2.0-or-later
{% endcomment %}

{% load i18n static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'index' %}">{% trans 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}

{% block extrahead %}{{ block.super }}
    {# Load Django Admin datetime widget #}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    {{ form.media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block content %}
    <form method="post" onsubmit="window.onbeforeunload=null">{% csrf_token %}
        {% if form.non_field_errors %}
            <p class="errornote">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endif %}
        <fieldset class="module aligned">
            {% for field in form %}
                <div class="form-row{% if field.errors %} errors{% endif %}">
                    {{ field.errors }}
                    <div>
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {% if field.field.help_text %}
                            <div class="help">{{ field.field.help_text|safe }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        <input type="submit" value="{% trans 'Transfer' %}">
    </form>
{% endblock %}