{% load pretty_money %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>[Note Kfet] Liste des négatifs</title>
</head>
<body>
<table>
<thead>
<tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Pseudo</th>
    <th>Email</th>
    <th>Solde</th>
    <th>Durée</th>
</tr>
</thead>
<tbody>
    {% for note in notes %}
        <tr>
            <td>{{ note.user.last_name }}</td>
            <td>{{ note.user.first_name }}</td>
            <td>{{ note.user.username }}</td>
            <td>{{ note.user.email }}</td>
            <td>{{ note.balance|pretty_money }}</td>
            <td>{{ note.last_negative_duration }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>

--
<p>
    Le BDE<br>
    Mail généré par la Note Kfet le {% now "j F Y à H:i:s" %}
</p>
</body>
</html>