{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load i18n %}

{% block content %}
<div class="card bg-light">
    <h3 class="card-header text-center">
        {{ title }}
    </h3>
    <div class="card-body">
        {% if validlink %}
        <p>
            {% trans "Your email have successfully been validated." %}
        </p>
        {% if user_object.profile.registration_valid %}
        <p>
            {% blocktrans %}You can now <a href="{{ login_url }}">log in</a>.{% endblocktrans %}
        </p>
        {% else %}
        <p>
            {% trans "You must pay now your membership in the Kfet to complete your registration." %}
        </p>
        {% endif %}
        {% else %}
        <p>
            {% trans "The link was invalid. The token may have expired. Please send us an email to activate your account." %}
        </p>
        {% endif %}
     </div>
</div>
{% endblock %}
