{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load i18n %}

{% block content %}
    {% if validlink %}
        {% trans "Your email have successfully been validated." %}
        {% if user_object.profile.registration_valid %}
            {% blocktrans %}You can now <a href="{{ login_url }}">log in</a>.{% endblocktrans %}
        {% else %}
            {% trans "You must pay now your membership in the Kfet to complete your registration." %}
        {% endif %}
    {% else %}
        {% trans "The link was invalid. The token may have expired. Please send us an email to activate your account." %}
    {% endif %}
{% endblock %}
