{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}
{% load i18n %}

{% block content %}
<div class="card bg-light">
    <h3 class="card-header text-center">
        {% trans "Account activation" %}
    </h3>
    <div class="card-body">
        <p>
            {% trans "An email has been sent. Please click on the link to activate your account." %}
        </p>
        <p>
            {% trans "You must also go to the Kfet to pay your membership. The WEI registration includes the BDE membership." %}
        </p>
    </div>
</div>
{% endblock %}
