{% load render_table from django_tables2 %}
{% load i18n %}

<div class="card">
    <div class="card-header text-center">
        <h4>{{ bus.name }}</h4>
    </div>


    <div class="card-body">
        {{ bus.description }}
    </div>

    <div class="card-footer text-center">
        <a class="btn btn-primary btn-sm my-1" href="{% url 'wei:update_bus' pk=bus.pk %}">{% trans "Edit" %}</a>
        <a class="btn btn-primary btn-sm my-1" href="{% url 'wei:add_team' pk=bus.pk %}">{% trans "Add team" %}</a>
    </div>
</div>

<hr>

<div class="card">
    <div class="card-header text-center" style="background-color: #{{ object.color|stringformat:"06X" }}; color: #{{ -16777215|add:object.color|stringformat:"06X"|slice:"1:" }};">
        <h4>{{ object.name }}</h4>
    </div>


    <div class="card-body">
        {{ object.description }}
    </div>

    <div class="card-footer text-center">
        <a class="btn btn-primary btn-sm my-1" href="{% url 'wei:update_bus_team' pk=object.pk %}">{% trans "Edit" %}</a>
    </div>
</div>

<hr>

{% if memberships.data or True %}
    <div class="card">
        <div class="card-header position-relative" id="clubListHeading">
            <a class="font-weight-bold">
                <i class="fa fa-bus"></i> {% trans "Teams" %}
            </a>
        </div>
        {% render_table memberships %}
    </div>

    <hr>

    <a href="{% url 'wei:wei_memberships_team_pdf' wei_pk=club.pk bus_pk=object.bus.pk team_pk=object.pk %}" data-turbolinks="false">
        <button class="btn btn-block btn-danger"><i class="fa fa-file-pdf-o"></i> {% trans "View as PDF" %}</button>
    </a>
{% endif %}
