{% extends "member/noteowner_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block profile_info %}
{% include "wei/weiclub_info.html" %}
{% endblock %}

{% block profile_content %}
    <div class="card">
        <div class="card-header text-center">
            <h4>{% trans "Survey WEI" %}</h4>
        </div>
        <div class="card-body">
            <p>
                {% trans "The survey is now ended. Your answers have been saved." %}
            </p>
        </div>
    </div>
{% endblock %}
