{% extends "member/noteowner_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block profile_info %}
{% include "wei/weiclub_info.html" %}
{% endblock %}

{% block profile_content %}
    <div class="card bg-light shadow">
        <div class="card-header text-center">
            <h4>{% trans "Delete registration" %}</h4>
        </div>
        {% if object.is_validated %}
            <div class="card-body">
            <div class="alert alert-danger">
                {% blocktrans %}This registration is already validated and can't be deleted.{% endblocktrans %}
            </div>
            </div>
        {% else %}
            <div class="card-body">
                <div class="alert alert-warning">
                    {% with user=object.user wei_name=object.wei.name %}
                    {% blocktrans %}Are you sure you want to delete the registration of {{ user }} for the WEI {{ wei_name }}? This action can't be undoed.{% endblocktrans %}
                    {% endwith %}
                </div>
            </div>
            <div class="card-footer text-center">
                <form method="post">
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'wei:wei_update_registration' object.pk %}">{% trans "Update registration" %}</a>
                    <button class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
